[Desktop Entry]
Encoding=UTF-8
Name=Link to Humidity Vector SVG Icon - SVG Repo
Type=Link
URL=https://www.svgrepo.com/svg/26690/humidity
Icon=text-html
Name[en_CA]=Humidity Vector SVG Icon - SVG Repo
