[Desktop Entry]
Encoding=UTF-8
Name=Link to Raspberry Pi Vector SVG Icon (3) - SVG Repo
Type=Link
URL=https://www.svgrepo.com/svg/342155/raspberry-pi
Icon=text-html
Name[en_CA]=Raspberry Pi Vector SVG Icon (3) - SVG Repo
