[Desktop Entry]
Encoding=UTF-8
Name=Link to Refresh Vector SVG Icon (262) - SVG Repo
Type=Link
URL=https://www.svgrepo.com/svg/506675/refresh
Icon=text-html
Name[en_CA]=Refresh Vector SVG Icon (262) - SVG Repo
