[Desktop Entry]
Encoding=UTF-8
Name=Link to Temperature Half Vector SVG Icon (3) - SVG Repo
Type=Link
URL=https://www.svgrepo.com/svg/473423/temperature-half
Icon=text-html
Name[en_CA]=Temperature Half Vector SVG Icon (3) - SVG Repo
